{% extends 'base.html' %}

{% block content %}
<h1>Djangoで作るログイン機能</h1>
{% if user.is_authenticated %}
<p>{{ user }}でログインしています</p>
<button onclick='location.href="{% url "logout" %}"'>ログアウト</button>
{% else %}
<section>
    <form action='{% url "login" %}' method='post'>
        {% csrf_token %}
        <input type='hidden' name='next' value='{{ next }}'>
        {{ form.as_p }}
        <button type='submit'>ログイン</button>
    </form>
    <button onclick='location.href="{% url "accounts:signup" %}"'>新規登録</button>
</section>
{% endif %}
{% endblock %}